
$fontfooter: 'Courier New', Courier, monospace;
$font2: Avenir, Helvetica, Arial, sans-serif;
$oldfont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$header: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$buttons: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;