$background: "#1B4079";
$font: 'Courier New', Courier, monospace;
$font2: Avenir, Helvetica, Arial, sans-serif;
$oldfont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;