@import "./variables";

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body, header, h1, h2, h5, ul {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to top, #1B4079, #396B8A, #1B4079);
}

form{
  padding: 10px;
  width: 45%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #ededed;
  margin: auto;
}

//Nav Bar

.animazione-lettere {
  display: inline-block;
  animation: fade 2.5s infinite;
}

nav {
  height: 30px;
  padding: 5px;
  background-color: #ededed;
  border-radius: 0px 0px 25px 25px;

  ul{
    max-width: 100%;
    justify-content: flex-end;
    display: flex;
    list-style: none;

    .userLi{
      font-size: 20px;
      width: fit-content;
      cursor: pointer;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    
    .logoLi{
      font-size: 20px;
      width: 100px;
      font-family: Rockwell;
      align-items: left;
      margin-right: auto;
      cursor: pointer;
    }

    li {
      font-size: 20px;
      text-align: center;
      width: 15%;
      margin-right: 2%;

      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: black;
        font-family: $oldfont;
        text-decoration: none;
      }

      .router-link-exact-active {
        transition: .2s ease;
        color: rgb(219, 69, 83);
        border: 1px solid black;
        border-radius: 15px;
      }
    }
  }
}

#app{
  text-align: center;
}

p{
  font-size: 15px;
  font-family: $font2;
}

//Stanze

.roomsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px auto;

  & > p{
    color: white;
    font-size: 22px;

    & > a{
      font-weight: bold;
      text-decoration: none;
      color: white;
      text-decoration:underline ;
      cursor: pointer
    }
  }

  div{

    & > form{
      align-items: center;
      border-radius: 15px;
      background-color: #ededed;
      width: 100%;
      padding: 2px;
      height: auto;
      text-align: left;

      label{
        text-align: left;
        font-family: $font2;
        font-size: 18px;
        margin-bottom: 5px;
      }

      input{
        width: 80%;
        border: 1px ridge #2e2e2e;
        height: auto;
        border-radius: 4px;
        box-shadow: 20px;
        font-size: large;
      }

      input[type=submit]:hover{
        cursor: pointer;
        background-color: #d2d2d2;
      }
    }
  }

  p {
    text-align: center;
  }

  button {
    font-size: 14px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .createRoom{
    border-radius: 15px;
    border: 2px ridge lightgray;
    font-size: 18px;
    align-items: baseline;
    justify-content: baseline;
    margin-bottom: 10px;
    padding: 5px;
  }

  .createRoom:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: #dedede;
  }

  & > ul{
    list-style: none;
    padding: 5px;
    width: 80%;

    .ban .enterRoom:hover{
      background-color: red;
    }

    li{
      padding: 5px;
      list-style: none;
      font-size: 20px;
      font-family: $oldfont;
      background-color: #ededed ;
      display: flex;
      align-items: center;
      border-bottom: 1px ridge black;
      margin: auto;
      height: 35px;

      .roomName{
        align-items: start;

        & > span{
          font-weight: bold;
        }
      }

      .enterRoom, .deleteRoom{
        border-radius: 4px;
        border: 1px ridge black;
        letter-spacing: 1.5px;
        font-family: $buttons;
        color: white;
        font-size: 18px;
      }

      .enterRoom{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        text-align: right;
        background-color: #00A6FB;
        transition-duration: 0.4s;
      }

      .enterRoom:hover{
        background-color: #0076b2;
        cursor: pointer;
      }

      .deleteRoom{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        align-items: baseline;
        background-color: rgb(176, 0, 0);
        transition-duration: 0.4s;
      }

      .deleteRoom:hover{
        background-color: rgb(120, 0, 0);
        cursor: pointer;
      }
    }

    li:last-child{
      border-bottom: none;
    }
  }
}

//Home

.mainContainer{
  display: flex;
}

.logoContainer{
  display: flex;
  width: 300px;
  height: 150px;
}

.textContainer{
  align-items: baseline;
  display: flex;

  & > p{
    margin-left: auto;
    margin-right: 50px;
    text-align: justify;
    font-size: 26px;
    color: white;

    span{
      font-weight: bold; font-style: italic
    }
  }
}

.detailsDiv{

  & > p{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  #gotoregister{
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 15px;
    transition: .3s ease;
  }

  #gotoregister:hover{
    background-color: white;
    border: black 2px solid;
    color: black;
    cursor: pointer;
  }
}

// Chat 

.bin{
  width: 20px;
  height: 20px;
  color: rgba(0,0,0,1);
}

.hidden{
  color: rgba(0,0,0,0.1);
}

.chat {
  width: 100%;
  display: flex;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;

  aside {
    width: 20%;
    height: 100%;

    p {
      color: white;
      font-size: 25px;
      font-family: $oldfont;
    }

    ul{
      background-color: #ADC3D8;
      border-top: 1px ridge grey;
      border-bottom: 1px ridge grey;

      li {
        font-size: 22px;
        font-family: $header;

        &.mod {
          color: rgb(143, 12, 38);
        }
      }

      li:hover{
        cursor: pointer;
        background-color: #788693;
      }
    }


    ul:first-child{
      border-top: 0px;
    }

    ul:last-child{
      border-top: 0px;
    }
  }

  .chatForm {
    overflow: auto;
    overflow-y: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 400px;

    & > .chatContainer {
      background-color: transparent;
      // overflow: visible;

      ul {
        overflow: visible;
        background-color: transparent;
        width: 100%;
        margin: 0;
        overflow: auto;

        li {
          font-family: $font2;
          background-color: transparent;
          overflow-x: hidden;
          margin: 0;
          line-height: 30px;
          font-size: 20px;
          width: 100%;

          &.left {
            text-align: left;
          }

          &.right {
            text-align: right;
          }
        }
      }
    }

    .chatBar {
      position: relative;
      margin-top: auto;
      background-color: transparent;
      width: 100%;
      margin-bottom: 10px;
      align-self: flex-end;
      
      
      input{
        font-size: large;
        border-radius: 15px;
        margin-right: 10px;
      }

      button{
        font-size: large;
        border-radius: 15px;

      }

    }
  }
}

h2{
  border-bottom: 2px #edf6f9 ridge; 
  display: inline-block; 
  padding-bottom: 8px; 
  text-align: center;
  font-family: $header;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 3%;
}

// Registrazione e login form

.registerForm{

  height: 300px;
  margin-bottom: 10%;

  & > ul{
    padding: 2%;
    width: 85%;
    display: inline-block;
    list-style: none;
    align-items: center;
    border-top: 2px ridge #00a6fb;
    border-bottom: 2px ridge #00a6fb;

    li{
      font-size: 25px;
      text-align: left;
      width: 100%;
      margin: 15px 0 0 15px;
      align-items: center;

      label{
        text-align: left;
        font-family: $font2;
        font-size: 25px;
        margin-bottom: 5px;
      }

      input{
        width: 80%;
        border: 1px ridge #2e2e2e;
        height: auto;
        border-radius: 4px;
        box-shadow: 20px;
        font-size: large;
      }

      input[type=submit]:hover{
        cursor: pointer;
        background-color: #d2d2d2;
      }

    }

    li:last-child{
      margin-top: 15px;
      margin-bottom: 15px;
      width: 30%;
    }
  }

  & > p{

    a{
      font-weight: bold;
      text-decoration: none;
      color: rgb(13, 13, 255);
      cursor: pointer
    }
  }
}


// Footer

footer{
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 25%, 25%, 0, 0;
  font-size: 25px;
  font-family: $fontfooter;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;

  span{
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  
  form{
    padding: 20px;
    width: 25%;
  }

  nav{

    height: 40px;
    ul{

      .userLi{
        font-size: 25px;
      }

      .logoLi{
        font-size: 30px;
        width: auto;
      }

      li{
        font-size: 25px;
      }
    }
  }

  p{
    font-size: 20px;
  }

  .logoContainer{
    width: 450px;
    height: 300px;
  }


  .textContainer{

    & > p{
      font-size: 36px;
    }
  }

  h2{
    font-size: 35px;
  }

  .roomsDiv {
    width: 70%;

    & > p{
      color: white;
      font-size: 25px;

    }

    div{
      & > form{
        border-radius: 15px;
        width: 100%;
        padding: 5px;
  
        label{
          font-size: 18px;
          margin-bottom: 5px;
        }
  
        input{
          width: 80%;
          height: auto;
          font-size: large;
        }
      }
    }

    button {
      font-size: 18px;
    }

    .createRoom{
      font-size: 20px;
    }

    & > ul{
      padding: 10px;
      width: 65%;
  
      li{
        padding: 5px;
        font-size: 25px;
        height: 35px;
  
        .enterRoom, .deleteRoom{
          letter-spacing: 1.5px;
          font-size: 18px;
        }
      }
    }
  }

  footer{
    font-size: 22px;
  }
}
